# Node/Next
node_modules/
.next/
out/
dist/
.turbo/
.vercel/

# IDE/OS
.vscode/
.idea/
.DS_Store

# Tests/build/coverage
coverage/
*.log

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Env (no subas secretos)
.env
.env.*
!.env.example

# Uploads locales (si no quieres versionarlas)
public/uploads/*
!public/uploads/.gitkeep
